@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'BNT';
    src: url("./assets/fonts/big_noodle_titling.ttf") format('truetype');
}

@font-face{
    font-family : 'Monigue';
    src: url("./assets/fonts/Monigue.otf") format('opentype');
}

@font-face {
    font-family: 'Awesome';
    src: url("./assets/fonts/AwesomeSerif-Regular.otf") format('opentype');
}


.no-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  
  body {
    overflow-x: hidden;
  }
  /* Style for the link */
.underline {
  position: relative;
  display: inline-block;
  color: #000; /* Adjust text color */
  text-decoration: none;
  padding-bottom: 5px; /* Space for the line */
}

/* Underline animation on hover */
.underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Line thickness */
  background-color: black; /* Line color */
  bottom: 0;
  left: 0;
  transition: width 0.3s ease; /* Smooth animation */
}

/* On hover, expand the line */
.underline:hover::after {
  width: 100%;
}
@keyframes running-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-running-border {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  background-image: linear-gradient(90deg, #ff6a00, #ff009e, #6a00ff, #00cfff);
  background-size: 300% 300%;
  animation: running-border 3s linear infinite;
  z-index: 1;
  pointer-events: none; /* Prevent interfering with button actions */
}

button:hover .animate-running-border {
  opacity: 1;
}

  /* Style for the link */
  .short-underline {
    position: relative;
    display: inline-block;
    color: #000; /* Adjust text color */
    text-decoration: none;
    padding-bottom: 2px; /* Space for the line */
  }
  
  /* Underline animation on hover */
  .short-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1.5px; /* Line thickness */
    background-color: black; /* Line color */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; /* Smooth animation */
  }
  
  /* On hover, expand the line */
  .short-underline:hover::after {
    width: 100%;
  }

  